<html>
<head>
  <title>My Page Title</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  {{ template "head-styles" . }}
  {{ template "head-scripts" . }}

</head>
<body>
  {{template "content" .}}
</body>
{{ template "footer-scripts" . }}
</html>
{{ define "head-styles" }}{{ end }}
{{ define "head-scripts" }}{{ end }}
{{ define "footer-scripts" }}{{ end }}
